/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: #d2d2d2;
    background-image: url(http://cdn26.us1.fansshare.com/photo/wallpaperdesktop/star-wars-padawan-and-jedi-free-desktop-wallpaper-wallpaper-1497773823.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .9;
    font-weight: bold;
    
}